<script>
  import "./global.css";
  import { version, dev } from "$app/environment";
  import { beforeNavigate } from "$app/navigation";
  import { updated } from "$app/stores";

  export let data;

  beforeNavigate(({ willUnload, to }) => {
    if ($updated && !willUnload && to?.url) {
      location.href = to.url.href;
    }
  });
</script>

<svelte:head>
  <meta name="color-scheme" content="dark light" />
</svelte:head>

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/entries">Entries</a>
    <a href="/collections">Collections</a>
    <a href="/taxonomies">Taxonomies</a>
    {#if data.admin}
      <a href="/admin">Admin</a>
    {/if}
  </nav>
</header>

<main>
  <slot />
</main>

<footer>
  <span>
    Version
    <a
      rel="external"
      href="https://gitlab.com/eidoom/stories2/-/commit/{version}">{version}</a
    >
    {#if dev}
      (dev)
    {/if}
  </span>
  <a rel="external" href="https://gitlab.com/eidoom/stories2">Source</a>
  <span>
    By Ryan Moodie,
    <a rel="external" href="https://creativecommons.org/licenses/by-sa/4.0/">
      CC BY-SA 4.0
    </a>
  </span>
</footer>

<style>
  nav {
    display: flex;
    column-gap: 1em;
    row-gap: 1ex;
    flex-wrap: wrap;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  footer {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
  }
</style>
