<script>
  import { goto } from "$app/navigation";
  import { capitalise } from "$lib/client";
  import EntryLink from "$lib/list/EntryLink.svelte";
  import PaginationBox from "$lib/find/PaginationBox.svelte";

  export let data;

  let form;

  $: new_search = data.static_search !== data.search;

  function reset() {
    goto(data.path);
    data.type = data.default_type;
    data.page = data.page_default;
    data.lim = data.lim_default;
  }
</script>

<svelte:head>
  {#if data.search}
    <title>Stories: "{data.search}"</title>
  {:else}
    <title>Stories</title>
  {/if}
</svelte:head>

<h1>Stories</h1>

<form
  bind:this={form}
  on:change={() => {if (data.search) form.requestSubmit();}}
>
  <div class="row">
    <fieldset class="col">
      <legend> Type </legend>
      {#each data.types as type}
        <label>
          {capitalise(type)}
          <input type="radio" name="type" value={type} bind:group={data.type} />
        </label>
      {/each}
    </fieldset>

    <PaginationBox
      number={data.number}
      pages={data.pages}
      bind:page={data.page}
      bind:lim={data.lim}
      {new_search}
    />
  </div>

  <div class="row">
    <label for="search">
      Search
    </label>
    <input type="search" name="search" bind:value={data.search} required />

    <span class="row">
      <button>Search</button>
      <button type="button" on:click={reset}>Reset</button>
    </span>
  </div>
</form>

{#if data.results !== null}
  {#if data.results.length}
    <ul>
      {#each data.results as entry}
        <li>
          {#if data.static_type === "entry"}
            <EntryLink {entry} />
          {:else}
            <a href="{entry.root}/{entry.id}">{entry.name}</a>
          {/if}
        </li>
      {/each}
    </ul>
  {:else}
    <p>No results</p>
  {/if}
{/if}

<style>
  input[type="search"] {
    flex-grow: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
    align-items: start;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
  }
</style>
