@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  src: url("/fonts/MaterialIconsRound-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 14px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 1vh;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 98vh;
  row-gap: 2em;

  font-family: "Merriweather";
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4pt;
}

@media screen and (min-width: 50em) {
  .container {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  color: #0076d1;
}

dt {
  font-weight: bold;
  margin-bottom: 2px;
}

dd {
  margin-bottom: 8px;
}
