<script>
  export let aliases;
</script>

{#if aliases.length}
  <div class="row">
    {#each aliases as alias}
      <span>{alias.name}</span>
    {/each}
  </div>
{/if}

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
