<script>
  import { format_date, another_day } from "$lib/client";
  export let entry;
</script>

<div class="row">
  <span>
    <span class="material-icons">calendar_today</span>
    &nbsp{format_date(entry.added)}
  </span>
  {#if another_day(entry.edited, entry.added)}
    <span>
      <span class="material-icons">edit_calendar</span>
      &nbsp{format_date(entry.edited)}
    </span>
  {/if}
</div>

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
