<script>
  export let links;
</script>

{#if links.length}
  <div class="row">
    {#each links as link}
      <a target="_blank" rel="external noopener noreferrer" href={link.url}>
        {link.text}
      </a>
    {/each}
  </div>
{/if}

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
