<script>
  export let page, pages, lim, number, stride=10, new_search=true;

  $: single_page = pages === 1;

  $: first_page = page === 1;
  $: second_page = page <= 2;
  $: last_page = page >= pages;
  $: penultimate_page = page >= pages - 1;

  $: lim_at_min = lim <= stride;
  $: lim_next_min = lim <= 2 * stride;
  $: lim_at_max = lim >= number;
  $: lim_next_max = lim >= number - stride;

  $: empty = number === 0;

  // nb we have to fake the disabled button status (in appearance at least)
  // because if we use `disabled={first_page}` on eg the `first_page` button,
  // clicking on it doesn't trigger a change event due to the button being disabled
</script>

<fieldset>
  <legend> Pagination </legend>

  <div class="col">
    <div class="row">
      <label for="page"> Page </label>
      <span>
        <input
          type="number"
          id="page"
          name="page"
          min="1"
          max={pages}
          bind:value={page}
          disabled={single_page}
        />
        /{pages}
      </span>
    </div>

    <div class="row">
      <button
        class="material-icons"
        class:disabled={second_page}
        on:click={() => (page = 1)}
      >
        first_page
      </button>
      <button
        class="material-icons"
        class:disabled={first_page}
        on:click={() => (page = Math.max(1, page - 1))}
      >
        navigate_before
      </button>
      <button
        class="material-icons"
        class:disabled={last_page}
        on:click={() => (page = Math.min(pages, page + 1))}
      >
        navigate_next
      </button>
      <button
        class="material-icons"
        class:disabled={penultimate_page}
        on:click={() => (page = pages)}
      >
        last_page
      </button>
    </div>

    <div class="row">
      <label for="show"> Show </label>
      <span>
        <input
          type="number"
          name="show"
          id="show"
          min="0"
          max={new_search ? "" : number}
          bind:value={lim}
        />
        {#if !empty}/{number}{/if}
      </span>
    </div>

    <div class="row">
      <button
        class="material-icons"
        class:disabled={lim_next_min || empty}
        on:click={() => (lim = stride)}
      >
        <div class="rot">first_page</div>
      </button>
      <button
        class="material-icons"
        class:disabled={lim_at_min || empty}
        on:click={() => (lim = Math.max(lim - stride, stride))}
      >
        keyboard_double_arrow_down
      </button>
      <button
        class="material-icons"
        class:disabled={lim_at_max || empty}
        on:click={() => (lim = Math.min(lim + stride, number))}
      >
        keyboard_double_arrow_up
      </button>
      <button
        class="material-icons"
        class:disabled={lim_next_max || empty}
        on:click={() => (lim = number)}
      >
        <div class="rot">last_page</div>
      </button>
    </div>
  </div>
</fieldset>

<style>
  input[type="number"] {
    width: 4em;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    align-items: center;
  }

  .row {
    display: flex;
    gap: 1ex;
  }

  .rot {
    transform: rotate(-90deg);
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
</style>
