<script>
  import { capitalise } from "$lib/client";
  export let sort, sort_keys, way, ways;
</script>

<fieldset>
  <legend> Sort </legend>

  <div class="col">
    <span>
      <label for="sort"> By </label>
      <select id="sort" name="sort" bind:value={sort}>
        {#each sort_keys as st}
          <option value={st} selected={sort === st}>{st}</option>
        {/each}
      </select>
    </span>

    {#each ways as w}
      <span>
        <label for={w}> {capitalise(w)} </label>
        <input type="radio" name="way" id={w} value={w} bind:group={way} />
      </span>
    {/each}
  </div>
</fieldset>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    align-items: center;
  }
</style>
