<script>
  import { enhance } from "$app/forms";
  import { format_datetime } from "$lib/client";

  export let data, form;
</script>

<h1>Admin</h1>

{#if form}
  <div>
    {#if form?.incorrect_password}
      <p class="error">Invalid password</p>
    {/if}

    {#if form?.login_success}
      <p>Successfully logged in</p>
    {/if}

    {#if form?.logout_success}
      <p>Successfully logged out</p>
    {/if}
  </div>

  <hr />
{/if}

<div>
  {#if data.admin}
    <p>Logged in</p>
    <p>Log in time: {format_datetime(data.created)}</p>
    <p>Last activity: {format_datetime(data.last_activity)}</p>
    <form method="POST" action="?/logout" use:enhance>
      <button>Log out</button>
    </form>
  {:else}
    <p>Log in</p>
    <form method="POST" action="?/login" use:enhance>
      <label>
        Password
        <input name="password" type="password" required />
      </label>
      <button>Log in</button>
    </form>
  {/if}
</div>

<style>
</style>
