<script>
  import { enhance } from "$app/forms";

  export let data;
</script>

<svelte:head>
  <title>Stories: medium</title>
</svelte:head>

<h1>medium</h1>

<div class="row">
  <a href="/taxonomies#medium">
    <button class="material-icons">arrow_upward</button>
  </a>
  <span>{data.entries.length} entries</span>
</div>

{#if data.admin}
  <form method="POST" action="?/new_medium" use:enhance class="row">
    <label for="name"> Add new medium </label>
    <input type="text" name="name" id="name" required />
    <button class="material-icons"> add </button>
  </form>
{/if}

<ul>
  {#each data.entries as entry}
    <li id="{entry.name}">
      <a href="/taxonomies/medium/{entry.id}">{entry.name}</a> ({entry.count})
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
