<script>
  import { format_date, capitalise } from "$lib/client";
  import PaginationBox from "$lib/find/PaginationBox.svelte";
  import SortBox from "$lib/find/SortBox.svelte";
  import EntryLink from "$lib/list/EntryLink.svelte";
  import StatusBox from "./StatusBox.svelte";
  import FilterBox from "./FilterBox.svelte";

  export let data;
  let form;
</script>

<svelte:head>
  <title>Stories: Entries</title>
</svelte:head>

<h1>Entries</h1>

<div class="row">
  {#if data.admin}
    <a href="/admin/entries/add">
      <button>New entry</button>
    </a>
  {/if}
  <span>
    {data.max_num} entries
  </span>
</div>

<form
  id="form"
  class="col"
  bind:this={form}
  on:change={() => form.requestSubmit()}
  data-sveltekit-noscroll
  data-sveltekit-replacestate
>
  <div class="row">
    <SortBox
      sort_keys={data.sort_keys}
      sort={data.sort}
      ways={data.ways}
      way={data.way}
    />

    <StatusBox
      allowed_statuses={data.allowed_statuses}
      bind:status_filters={data.status_filters}
    />

    <FilterBox
      media={data.media}
      years_experienced={data.years_experienced}
      tags={data.tags}
      bind:filter_medium={data.filter_medium}
      bind:filter_year_experienced={data.filter_year_experienced}
      bind:filter_tags={data.filter_tags}
    />

    <PaginationBox
      number={data.number}
      pages={data.pages}
      bind:page={data.page}
      bind:lim={data.lim}
    />
  </div>

  <button>Search</button>
</form>

{#if data.entries.length}
  <ul>
    {#each data.entries as entry}
      <li>
        <EntryLink {entry} />
      </li>
    {/each}
  </ul>
{:else}
  <p>No matching entries</p>
{/if}

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
    align-items: start;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    align-items: start;
  }
</style>
