<script>
  import { capitalise } from "$lib/client";
  export let media,
    years_experienced,
    tags,
    filter_medium,
    filter_year_experienced,
    filter_tags;
</script>

<fieldset>
  <legend> Filter </legend>

  <datalist id="tags">
    {#each tags as tag}
      <option value={tag} />
    {/each}
  </datalist>

  <datalist id="experienced-years">
    {#each years_experienced as year}
      <option value={year} />
    {/each}
  </datalist>

  <div class="col2">
    <label for="filter-medium"> Medium </label>
    <select id="filter-medium" name="filter_medium" bind:value={filter_medium}>
      {#each media as m}
        <option value={m} selected={filter_medium === m}>{m}</option>
      {/each}
    </select>

    <label for="filter-year-experienced"> XP year </label>
    <input
      type="text"
      id="filter-year-experienced"
      name="filter_year_experienced"
      list="experienced-years"
      bind:value={filter_year_experienced}
      class="tag"
    />

    <label for="filter-tag"> Tags </label>
    <span class="col">
      {#each filter_tags as filter_tag}
        <input
          type="text"
          id="filter-tag"
          name="filter_tag"
          list="tags"
          bind:value={filter_tag}
          class="tag"
          on:input|once={() => (filter_tags = [...filter_tags, ""])}
        />
      {/each}
    </span>
  </div>
</fieldset>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    align-items: start;
  }

  .col2 {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1ex;
  }

  .tag {
    width: 15ex;
  }
</style>
