<script>
  import { capitalise } from "$lib/client";
  export let allowed_statuses, status_filters;
</script>

<fieldset>
  <legend> Status </legend>
  <table>
    <thead>
      <tr>
        <th />
        <th scope="col">∈</th>
        <th scope="col">∉</th>
      </tr>
    </thead>
    <tbody>
      {#each allowed_statuses as item}
        <tr>
          <th scope="row"> {capitalise(item)} </th>
          <td>
            <input
              type="checkbox"
              name="{item}_inc"
              bind:checked={status_filters[`${item}_inc`]}
              on:change={() => (status_filters[`${item}_exc`] = false)}
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="{item}_exc"
              bind:checked={status_filters[`${item}_exc`]}
              on:change={() => (status_filters[`${item}_inc`] = false)}
            />
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</fieldset>

<style>
</style>
