<script>
  import { enhance } from "$app/forms";
  import { format_date, another_day } from "$lib/client";
  import Items from "./Items.svelte";
  import EditDate from "$lib/show/EditDate.svelte";
  import Aliases from "$lib/show/Aliases.svelte";
  import Links from "$lib/show/Links.svelte";

  export let data, form;

  let showCollections = true;

  export const snapshot = {
    capture: () => showCollections,
    restore: (value) => (showCollections = value),
  };
</script>

<svelte:head>
  <title>Stories: {data.entry.name}</title>
</svelte:head>

<h1>{data.entry.name}</h1>

<div class="col">
  <Aliases aliases={data.aliases} />

  {#if data.collections.length}
    <div class="row">
      {#each data.collections as collection}
        <a href="/entries/{collection.id}">
          {collection.name}{#if collection.number !== null}&nbsp#{collection.number}{/if}
        </a>
      {/each}
    </div>
  {/if}

  {#each Object.entries(data.taxonomies) as [tax, tags]}
    {#if tags.length}
      <div class="row">
        {#each tags as tag}
          <a href="/taxonomies/{tax}/{tag.id}">
            {tag.name}
          </a>
        {/each}
      </div>
    {/if}
  {/each}

  <!-- TODO better handle release date in a way that includes no data for collections not meaning unreleased -->
  {#if !data.entry.collection || (data.entry.collection && data.entry.original_year !== "unreleased")}
    <div class="row">
      {data.entry.original_year}
      {#if data.entry.release_year !== null}({data.entry.release_year}){/if}
    </div>
  {/if}

  <Links links={data.links} />

  <EditDate entry={data.entry} />

  {#if data.experiences.length}
    {#each data.experiences as x}
      <div class="row">
        <span>
          <span class="material-icons">play_arrow</span>
          &nbsp{#if x.start}{format_date(x.start)}{:else}?{/if}
        </span>
        <span>
          {#if x.complete || x.end || x.endless}
            {#if x.complete}
              <span class="material-icons">stop</span>
            {:else if x.endless}
              <span class="material-icons">all_inclusive</span>
            {:else if x.end}
              <span class="material-icons">pause</span>
            {/if}
            {#if x.end && another_day(x.end, x.start)}
              &nbsp{format_date(x.end)}
            {/if}
          {:else}
            <span class="material-icons">fiber_manual_record</span>
          {/if}
        </span>
      </div>
    {/each}
  {/if}

  {#if data.admin}
    <div class="row">
      <a href="/admin/entries/edit/{data.entry.id}">
        <button class="material-icons">edit</button>
      </a>
      <a href="/admin/entries/copy/{data.entry.id}">
        <button class="material-icons">content_copy</button>
      </a>

      <details>
        <summary> Experiences </summary>
        <div class="row">
          {#if data.experiences.length && !data.experiences[data.experiences.length - 1].complete}
            <form method="POST" action="?/experience_playpause" use:enhance>
              {#if data.experiences[data.experiences.length - 1].active}
                <button class="material-icons">pause</button>
              {:else}
                <button class="material-icons">play_arrow</button>
              {/if}
            </form>

            <form
              method="POST"
              action="?/experience_stop"
              hidden={!data.experiences[data.experiences.length - 1].active}
            >
              <button class="material-icons"> stop </button>
            </form>
          {:else}
            <form method="POST" action="?/new_experience" use:enhance>
              <button class="material-icons"> add </button>
            </form>
            <form method="POST" action="?/new_done_experience" use:enhance>
              <button class="material-icons"> done </button>
            </form>
          {/if}
        </div>
      </details>

      <details>
        <summary> Delete </summary>
        <form method="POST" action="?/delete" use:enhance>
          <button>Confirm</button>
        </form>
      </details>

      <span>
        {#if form}{form}{/if}
      </span>
    </div>
  {/if}
</div>

<div>{@html data.entry.body}</div>

<Items items={data.entries} bind:showCollections />

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
