<script>
  import EntryLink from "$lib/list/EntryLink.svelte";

  export let items, showCollections;

  //let detailState = {};
  //for (const [i, item] of items.entries()) {
  //  if (item.entries.length) {
  //    detailState[i] = { open: false };
  //    if (item.entries.some((s) => s.entries.length)) {
  //      detailState[i].sub = {};
  //    }
  //    for (const [j, subitem] of item.entries.entries()) {
  //      if (subitem.entries.length) {
  //        detailState[i].sub[j] = { open: false };
  //      }
  //    }
  //  }
  //}

  //function setFirstDetailState(state) {
  //  for (const i in detailState) {
  //    detailState[i].open = state;
  //  }
  //}

  //function setSecondDetailState(state) {
  //  for (const [i, item] of Object.entries(detailState)) {
  //    for (const j in item.sub) {
  //      detailState[i].sub[j].open = state;
  //    }
  //  }
  //}

  //function setAllDetailState(state) {
  //  setFirstDetailState(state);
  //  setSecondDetailState(state);
  //}

  //const firstsExist = Object.keys(detailState).length;
  //const secondsExist = Object.values(detailState).some((d) => d.sub);

  //$: firstsOpen = Object.values(detailState).every((d) => d.open);
  //$: firstsShut = Object.values(detailState).every((d) => !d.open);

  //$: secondsOpen = Object.values(detailState)
  //  .filter((d) => d.sub)
  //  .every((d) => Object.values(d.sub).every((s) => s.open));
  //$: secondsShut = Object.values(detailState)
  //  .filter((d) => d.sub)
  //  .every((d) => Object.values(d.sub).every((s) => !s.open));
</script>

{#if items.length}
  <div>
    <h2>Items</h2>
    <!-- {#if firstsExist} -->
    <!--   <div class="row"> -->
    <!--     <button -->
    <!--       on:click={() => setAllDetailState(true)} -->
    <!--       disabled={firstsOpen && secondsOpen} -->
    <!--     > -->
    <!--       Open all -->
    <!--     </button> -->
    <!--     <button -->
    <!--       on:click={() => setFirstDetailState(true)} -->
    <!--       disabled={firstsOpen} -->
    <!--       hidden={!secondsExist} -->
    <!--     > -->
    <!--       Open firsts -->
    <!--     </button> -->
    <!--     <button -->
    <!--       on:click={() => setSecondDetailState(false)} -->
    <!--       disabled={secondsShut} -->
    <!--       hidden={!secondsExist} -->
    <!--     > -->
    <!--       Close seconds -->
    <!--     </button> -->
    <!--     <button -->
    <!--       on:click={() => setAllDetailState(false)} -->
    <!--       disabled={firstsShut && secondsShut} -->
    <!--     > -->
    <!--       Close all -->
    <!--     </button> -->
    <!--   </div> -->
    <!-- {/if} -->
    <div class="row">
      <label for="hide-collections">Show sub-collections</label>
      <input
        type="checkbox"
        id="hide-collections"
        bind:checked={showCollections}
      />
    </div>
    <ol>
      {#each items as item, i}
        <li value={item.number} hidden={item.collection && !showCollections}>
          <EntryLink entry={item} />
          {#if item.entries.length}
            <!-- <details bind:open={detailState[i].open}> -->
            <details>
              <summary> Items </summary>
              <ol>
                {#each item.entries as subitem, j}
                  <li
                    value={subitem.number}
                    hidden={subitem.collection && !showCollections}
                  >
                    <EntryLink entry={subitem} />
                    {#if subitem.entries.length}
                      <!-- <details bind:open={detailState[i].sub[j].open}> -->
                      <details>
                        <summary> Items </summary>
                        <ol>
                          {#each subitem.entries as subsubitem}
                            <li
                              value={subsubitem.number}
                              hidden={subsubitem.collection && !showCollections}
                            >
                              <EntryLink entry={subsubitem} />
                            </li>
                          {/each}
                        </ol>
                      </details>
                    {/if}
                  </li>
                {/each}
              </ol>
            </details>
          {/if}
        </li>
      {/each}
    </ol>
  </div>
{/if}

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
