<script>
  import { enhance } from "$app/forms";
  import { format_date, another_day } from "$lib/client";
  import EditDate from "$lib/show/EditDate.svelte";
  import Aliases from "$lib/show/Aliases.svelte";
  import Links from "$lib/show/Links.svelte";

  export let data, form;
</script>

<svelte:head>
  <title>Stories: {data.taxon.name}</title>
</svelte:head>

<h1>{data.taxon.name}</h1>

<div class="col">
  <div class="row">
    <a href="/taxonomies/{data.taxonomy}#{data.taxon.name}">
      <button class="material-icons"> arrow_upward </button>
    </a>
    <span>{data.entries.length} entries</span>
  </div>

  <Aliases aliases={data.aliases} />

  <Links links={data.links} />

  <EditDate entry={data.taxon} />
</div>

{#if data.admin}
  <div class="row">
    {#if !data.entries.length}
      <details>
        <summary> Delete </summary>
        <form method="POST" action="?/delete" use:enhance>
          <button>Confirm</button>
        </form>
      </details>
    {/if}

    {#if form}
      <span>
        Error: {form}
      </span>
    {/if}

    <a href="/admin/taxonomies/edit/{data.taxon.id}">
      <button class="material-icons">edit</button>
    </a>
  </div>
{/if}

<div>{@html data.taxon.body}</div>

<ul>
  {#each data.entries as entry}
    <li id="{entry.name}">
      <a href="/entries/{entry.id}">{entry.name}</a>
      {#if entry.collection}
        (collection)
      {/if}
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  summary {
    margin-bottom: 1ex;
  }
</style>
