<script>
  import { format_date } from "$lib/client";
  import PaginationBox from "$lib/find/PaginationBox.svelte";
  import SortBox from "$lib/find/SortBox.svelte";

  export let data;
  let form;
</script>

<svelte:head>
  <title>Stories: Collections</title>
</svelte:head>

<h1>Collections</h1>

<div>
  {data.number} collections
</div>

<form
  id="form"
  bind:this={form}
  on:change={() => form.requestSubmit()}
  class="row"
  data-sveltekit-noscroll
  data-sveltekit-replacestate
>
  <SortBox
    sort_keys={data.sort_keys}
    sort={data.sort}
    ways={data.ways}
    way={data.way}
  />

  <PaginationBox
    number={data.number}
    pages={data.pages}
    page={data.page}
    lim={data.lim}
  />
</form>

<ul>
  {#each data.collections as entry, i}
    <li>
      <a href="/entries/{entry.id}">{entry.name}</a> ({entry.count})
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
  }
</style>
