<script>
  import { enhance } from "$app/forms";

  export let data, form;
</script>

<svelte:head>
  <title>Stories: {data.taxonomy}</title>
</svelte:head>

<h1>{data.taxonomy}</h1>

<div class="row">
  <a href="/taxonomies#{data.taxonomy}">
    <button class="material-icons">arrow_upward</button>
  </a>

  <span>{data.entries.length} entries</span>
</div>

{#if data.admin}
  <form method="POST" action="?/rename" use:enhance class="row">
    <label for="name"> Rename </label>
    <input type="text" name="taxonomy_name" id="name" required value={data.taxonomy} />
    <button class="material-icons"> done </button>
  </form>

  <div class="row">
    {#if !data.entries.length}
      <details>
        <summary> Delete </summary>
        <form method="POST" action="?/delete" use:enhance>
          <button>Confirm</button>
        </form>
      </details>
    {/if}

    {#if form}
      <span>
        Error: {form}
      </span>
    {/if}
  </div>
{/if}

<ul>
  {#each data.entries as entry}
    <li id={entry.name}>
      <a href="/taxonomies/{data.taxonomy}/{entry.id}">{entry.name}</a>
      ({entry.count})
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    gap: 1ex;
  }
</style>
