<script>
  import { post } from "$lib/edit/edit_entry";
  import EditFormats from "./EditFormats.svelte";

  export let data;
</script>

<h1>Edit list of formats for medium "{data.taxon}"</h1>

<form
  method="POST"
  on:submit|preventDefault={() => post(data)}
  class="col-big"
>

  <EditFormats unused={data.unused} bind:formats={data.apidata} />

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<style>
  .col-big {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
