<script>
  import { tick } from "svelte";
  import { add, del } from "$lib/edit/edit_entry";

  export let formats, unused;

  let focusEl;

  async function addFocus() {
    formats = add(formats, {});
    await tick();
    focusEl.focus();
  }
</script>

<fieldset class="grid2l">
  <legend>Formats</legend>

  <datalist id="unused">
    {#each unused as format}
      <option value={format} />
    {/each}
  </datalist>

  {#each formats as format, i}
    <input
      type="text"
      list="unused"
      bind:value={format.name}
      bind:this={focusEl}
      required
    />
    <button
      type="button"
      class="material-icons"
      on:click={() => (formats = del(formats, i))}
    >
      remove
    </button>
  {/each}

  <div>
    <button
      type="button"
      class="material-icons"
      on:click={addFocus}
    >
      add
    </button>
  </div>
</fieldset>

<style>
  .grid2l {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1ex;
    align-items: center;
  }
</style>
