<script>
  import { enhance } from "$app/forms";
  import EditDate from "$lib/show/EditDate.svelte";
  import Aliases from "$lib/show/Aliases.svelte";
  import Links from "$lib/show/Links.svelte";

  export let data;
</script>

<svelte:head>
  <title>Stories: {data.taxon.name}</title>
</svelte:head>

<h1>{data.taxon.name}</h1>

<div class="col">
  <div class="row">
    <a href="/taxonomies/{data.taxonomy}#{data.taxon.name}">
      <button class="material-icons"> arrow_upward </button>
    </a>
  </div>

  <Aliases aliases={data.aliases} />

  <Links links={data.links} />

  <EditDate entry={data.taxon} />
</div>

{#if data.admin}
  <div class="row">
    <a href="/admin/taxonomies/edit/{data.taxon.id}">
      <button class="material-icons">edit</button>
    </a>
    <form method="POST" action="?/rename" use:enhance class="row">
      <label for="name"> Rename </label>
      <input type="text" name="name" id="name" required value={data.taxon.name} />
      <button class="material-icons"> done </button>
    </form>
  </div>
{/if}

<div>{@html data.taxon.body}</div>

<h2>Formats</h2>

<div class="row">
  <span>{data.formats.length} formats</span>

  {#if data.admin}
    <a href="/admin/taxonomies/medium/{data.taxon.id}">
      <button class="material-icons">edit</button>
    </a>
  {/if}
</div>

<ul>
  {#each data.formats as format}
    <li id={format.name}>
      <a href="/taxonomies/format/{format.id}">{format.name}</a>
    </li>
  {/each}
</ul>

<h2>Entries</h2>

<div>{data.entries.length} entries</div>

<ul>
  {#each data.entries as entry}
    <li id="{entry.name}">
      <a href="/entries/{entry.id}">{entry.name}</a>
      {#if entry.collection}
        (collection)
      {/if}
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
