<script>
  import { del, add } from "./edit_entry";

  export let collections, all_collections;

  let focusEl;

  async function addFocus() {
    collections = add(collections, {});
    await tick();
    focusEl.focus();
  }
</script>

<fieldset class="grid5">
  <legend>Collections</legend>

  <datalist id="existing-collections">
    {#each all_collections as collection}
      <option value={collection} />
    {/each}
  </datalist>

  {#each collections as collection, i}
    <label for="col-name-{i}"> Name </label>
    <input
      type="text"
      id="col-name-{i}"
      list="existing-collections"
      bind:value={collection.name}
      bind:this={focusEl}
      required
      class="grow"
    />

    <label for="col-num-{i}"> Number </label>
    <input
      type="number"
      step="any"
      id="col-num-{i}"
      bind:value={collection.number}
      class="fixed-width"
    />

    <button
      type="button"
      class="material-icons"
      on:click={() => (collections = del(collections, i))}
    >
      remove
    </button>
  {/each}

  <div>
    <button
      type="button"
      class="material-icons"
      on:click={addFocus}
    >
      add
    </button>
  </div>
</fieldset>

<style>
  .fixed-width {
    width: 4em;
  }

  .grow {
    flex-grow: 1;
  }

  .grid5 {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 1ex;
    align-items: center;
  }
</style>
