<script>
  export let checked;
</script>

  <fieldset>
    <legend>Type</legend>
    <label for="collection">Collection</label>
    <input
      type="checkbox"
      id="collection"
      bind:checked
    />
  </fieldset>

<style>
</style>
