<script>
  export let value;

  const rows = value.split("\n").length + 5;
</script>

<div>
  <label>
    Description
    <textarea bind:value {rows} />
  </label>
</div>

<style>
  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
</style>
