<script>
  import { post } from "./edit_entry";
  import EditCollection from "./Collection.svelte";
  import EditCollections from "./Collections.svelte";
  import EditDesc from "./Desc.svelte";
  import EditExperiences from "./Experiences.svelte";
  import EditLinks from "./Links.svelte";
  import EditNames from "./Names.svelte";
  import EditTaxonomies from "./Taxonomies.svelte";
  import EditYears from "./Years.svelte";

  export let data;
</script>

<form method="POST" on:submit|preventDefault={() => post(data)} class="col-big">
  <EditNames bind:name={data.apidata.name} bind:aliases={data.apidata.aliases} />

  <EditCollection bind:checked={data.apidata.collection} />

  <EditYears
    years={data.years}
    bind:original_year={data.apidata.original_year}
    bind:version_year={data.apidata.version_year}
  />

  <EditCollections
    bind:collections={data.apidata.collections}
    all_collections={data.collections}
  />

  <EditTaxonomies
    bind:taxonomies={data.apidata.taxonomies}
    all_taxonomies={data.taxonomies}
  />

  <EditLinks bind:links={data.apidata.links} />

  <EditExperiences bind:experiences={data.apidata.experiences} />

  <EditDesc bind:value={data.apidata.body} />

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<style>
  .col-big {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
