<script>
  import { dateString } from "$lib/global";
  import { del, add } from "./edit_entry";

  export let experiences;

  function today() {
    return dateString(new Date());
  }

  function confirmDeletePoint(i, j) {
    const points = experiences[i].points;
    const point = points[j].timestamp;
    if (
      window.confirm(
        `Delete time point #${j + 1}: ${point} from experience #${i + 1}?`,
      )
    ) {
      experiences[i].points = del(points, j);
    }
  }

  function confirmDeleteExperience(i) {
    if (window.confirm(`Delete the whole experience #${i + 1}?`))
      experiences = del(experiences, i);
  }
</script>

<fieldset class="col">
  <legend>Experiences</legend>

  {#each experiences as experience, i}
    <fieldset class="grid-experience">
      <legend>Experience</legend>

      {#each experience.points as point, j}
        <label for="point-{i}-{j}" class="material-icons">
          {#if !(j % 2)}
            play_arrow
          {:else}
            pause
          {/if}
        </label>

        <input
          type="date"
          id="point-{i}-{j}"
          class="merged-cell"
          bind:value={point.timestamp}
        />

        <button
          type="button"
          class="material-icons"
          on:click={() => confirmDeletePoint(i, j)}
        >
          remove
        </button>
      {/each}

      <button
        type="button"
        class="material-icons"
        disabled={experience.complete}
        on:click={() =>
          (experience.points = add(experience.points, {
            timestamp: today(),
          }))}
      >
        {#if !(experience.points.length % 2)}
          play_arrow
        {:else}
          pause
        {/if}
      </button>

      <span class="row">
        <label for="complete" class="material-icons"> stop </label>
        <input
          type="checkbox"
          id="complete"
          bind:checked={experience.complete}
        />
      </span>

      <span class="row">
        <label for="endless" class="material-icons">all_inclusive</label>
        <input type="checkbox" id="endless" bind:checked={experience.endless} />
      </span>

      <button
        type="button"
        class="material-icons"
        on:click={() => confirmDeleteExperience(i)}
      >
        delete
      </button>
    </fieldset>
  {/each}

  <div>
    <button
      type="button"
      class="material-icons"
      on:click={() => (experiences = add(experiences, { points: [] }))}
    >
      add
    </button>
  </div>
</fieldset>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .grid-experience {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 1ex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .merged-cell {
    grid-column: 2 / 4;
  }
</style>
