<script>
  import { tick } from "svelte";
  import { del, add } from "./edit_entry";

  export let links;

  let focusEl;

  async function addFocus() {
    links = add(links, {});
    await tick();
    focusEl.focus();
  }
</script>

<fieldset class="grid2l">
  <legend>Links</legend>

  {#each links as link, i}
    <input
      type="url"
      bind:value={link.url}
      bind:this={focusEl}
      required
    />

    <button
      type="button"
      class="material-icons"
      on:click={() => (links = del(links, i))}
    >
      remove
    </button>
  {/each}

  <div>
    <button
      type="button"
      class="material-icons"
      on:click={addFocus}
    >
      add
    </button>
  </div>
</fieldset>

<style>
  .grid2l {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1ex;
    align-items: center;
  }
</style>
