<script>
  import { tick } from "svelte";
  import { del, add } from "./edit_entry";

  export let name, aliases;

  let focusEl;

  async function addFocus() {
    aliases = add(aliases, {});
    await tick();
    focusEl.focus();
  }
</script>

<fieldset class="grid3">
  <legend>Names</legend>

  <label for="name"> Title </label>
  <input type="text" id="name" bind:value={name} required />

  {#each aliases as alias, i}
    <label for="alias-{i}"> Alias </label>
    <input
      type="text"
      id="alias-{i}"
      bind:value={alias.name}
      bind:this={focusEl}
      required
    />
    <button
      type="button"
      class="material-icons"
      on:click={() => (aliases = del(aliases, i))}
    >
      remove
    </button>
  {/each}

  <div>
    <button
      type="button"
      class="material-icons"
      on:click={addFocus}
    >
      add
    </button>
  </div>
</fieldset>

<style>
  .grid3 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1ex;
    align-items: center;
  }

  #name {
    grid-column: 2/4;
  }
</style>
