<script>
  import { tick } from "svelte";
  import { capitalise } from "$lib/client";
  import { add, del } from "./edit_entry";
  export let taxonomies, all_taxonomies;

  const focusEl = Object.keys(taxonomies).reduce(
    (a, k) => ({ ...a, [k]: "" }),
    {}
  );

  async function addNested(n1, el) {
    taxonomies[n1] = add(taxonomies[n1], el);
    await tick();
    focusEl[n1].focus();
  }
</script>

<fieldset class="col">
  <legend>Taxonomies</legend>

  {#each Object.entries(taxonomies) as [name, taxons]}
    <datalist id="existing-{name}">
      {#each all_taxonomies[name] as taxon}
        <option value={taxon} />
      {/each}
    </datalist>

    <fieldset class="grid2l">
      <legend>{capitalise(name)}s</legend>

      {#each taxons as taxon, i}
        <input
          type="text"
          list="existing-{name}"
          bind:value={taxon.name}
          bind:this={focusEl[name]}
          required
        />
        <button
          type="button"
          class="material-icons"
          on:click={() => (taxonomies[name] = del(taxons, i))}
        >
          remove
        </button>
      {/each}

      <div>
        <button
          type="button"
          class="material-icons"
          on:click={() => addNested(name, {})}
        >
          add
        </button>
      </div>
    </fieldset>
  {/each}
</fieldset>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
  }

  .grid2l {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1ex;
    align-items: center;
  }
</style>
