<script>
  export let years, original_year, version_year;
</script>

<fieldset class="grid2r">
  <legend>Release years</legend>

  <datalist id="existing-years">
    {#each years as year}
      <option value={year} />
    {/each}
  </datalist>

  <label for="original_release"> Original </label>
  <input
    type="number"
    id="original_release"
    list="existing-years"
    placeholder="Leave blank if unreleased"
    bind:value={original_year}
  />

  <label for="version_release"> This version </label>
  <input
    type="number"
    id="version_release"
    list="existing-years"
    placeholder="Leave blank if same as original"
    bind:value={version_year}
  />
</fieldset>

<style>
  .grid2r {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1ex;
    align-items: center;
  }
</style>
