<script>
  import { enhance } from "$app/forms";

  export let data, form;
</script>

<svelte:head>
  <title>Stories: Taxonomies</title>
</svelte:head>

<h1>Taxonomies</h1>

{#if data.admin}
  <div class="col">
    <form method="POST" action="?/new_taxonomy" use:enhance class="row">
      <label for="name"> Add new taxonomy </label>
      <input
        type="text"
        name="taxonomy_name"
        id="name"
        required
        value={form?.name ?? ''}
      />
      <button class="material-icons"> add </button>
    </form>
    {#if form?.error}
      <div>Error: {form.error}</div>
    {/if}
  </div>
{/if}

<ul>
  {#each data.taxonomies as entry}
    <li id="{entry.name}">
      <a href="/taxonomies/{entry.name}">{entry.name}</a> ({entry.count})
    </li>
  {/each}
</ul>

<style>
  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    flex-wrap: wrap;
  }
</style>
