<script>
  import { enhance } from '$app/forms';
  import { post } from "$lib/edit/edit_entry";
  import EditNames from "$lib/edit/Names.svelte";
  import EditLinks from "$lib/edit/Links.svelte";
  import EditDesc from "$lib/edit/Desc.svelte";
  import EditTaxonomy from "./EditTaxonomy.svelte";

  export let data;
  let response;
</script>

<h1>Edit tag</h1>

<h2>Alter</h2>

<form
  method="POST"
  on:submit|preventDefault={async () => response = await post(data)}
  class="col-big"
>
  <EditNames bind:name={data.apidata.name} bind:aliases={data.apidata.aliases} />

  <EditLinks bind:links={data.apidata.links} />

  <EditTaxonomy bind:value={data.apidata.taxonomy} all_taxonomies={data.all_taxonomies} />

  <EditDesc bind:value={data.apidata.body} />

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

{#if response}
  <p>Error: {response.status} {response.statusText}</p>
{/if}

<h2>Merge</h2>

<form method="POST" action="?/merge" use:enhance>
  <datalist id="other-tags">
    {#each data.other_tags as tag}
      <option value={tag} />
    {/each}
  </datalist>

  <div class="row">
    <label for="other-tag">
      Into
    </label>
    <input
      type="text"
      list="other-tags"
      name="other-tag"
      id="other-tag"
      required
    />

    <button type="submit">Submit</button>
  </div>
</form>

<style>
  .col-big {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .row {
    display: flex;
    gap: 1ex;
  }
</style>
