<script>
  export let value, all_taxonomies;
</script>

<div class="row">
  <datalist id="taxonomies">
    {#each all_taxonomies as taxonomy}
      <option value={taxonomy} />
    {/each}
  </datalist>
  <label for="name"> Taxonomy </label>
  <input type="text" name="taxonomy_name" id="name" bind:value required list="taxonomies" />
</div>

<style>
  .row {
    display: flex;
    gap: 1ex;
  }
</style>
